.x-product-detail {
    container-type: inline-size;
    container-name: product-detail;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: -1;
    overflow-y: auto;
    background-color: var(--color-white);

    &.open {
        z-index: 1000;
    }

    &__content {
        width: 100%;
        height: auto;
    }

    &__tabs {
        display: grid;
        grid-template-columns: 1fr 1fr 3.125rem;
        width: 100%;
        height: 3.125rem;
    }

    &__body {
        padding-block: 3rem;
        padding-inline: 2rem;
    }

    &__product {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;

        @container product-detail (min-width: 50rem) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__product-image {
        position: relative;
    }

    &__product-image-file {
        width: 100%;
    }

    &__product-content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    &__product-like {
        position: absolute;
        display: flex;
        align-items: center;
        padding-block: .125rem;
        padding-inline: .25rem;
        gap: .25rem;
        top: .5rem;
        right: .5rem;
        border-radius: 1rem;
        color: var(--color-brand);
        background-color: hsla(0, 0%, 100%, .84);
    }

    &__product-like-icon-file {
        width: 1.5rem;
        aspect-ratio: 1/1;
    }

    &__product-review {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__product-stars {
        display: flex;
        flex-direction: row;
        gap: .25rem;
    }

    &__product-stars-value {
        font-size: .75rem;
        color: var(--color-brand);
    }

    &__product-star-icon-file {
        width: 1.25rem;
        aspect-ratio: 1/1;
        color: var(--color-star);
    }

    &__product-name {
        font-size: 1.5rem;
    }

    &__product-price {
        font-weight: 600;
        font-size: 1.75rem;
    }

    &__product-delivery {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    &__product-delivery-content {
        display: flex;
        align-items: center;
        gap: .25rem;
        padding-block: .125rem;
        padding-inline: .25rem;
        border-width: .0625rem;
        border-style: solid;
        border-color: var(--color-border);
        border-radius: .5rem;
        font-weight: 600;
        font-size: .75rem;
        color: var(--color-gray-1);

        &--stock {
            color: var(--color-green);
            background-color: var(--color-green-light);
            border-color: var(--color-green);
        }
    }

    &__product-delivery-icon-file {
        width: 1.25rem;
        aspect-ratio: 1/1;
    }

    &__product-delivery-text {
        color: var(--color-black);
    }
}