.ui-button-close {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: var(--color-gray-2);
    color: var(--color-brand);

    &__icon-file {
        display: flex;
        width: 2.5rem;
        aspect-ratio: 1/1;
    }

    &:hover {
        background-color: var(--color-brand);
        color: var(--color-white);
    }
}