.main {
    display: flex;
    margin-block: 1.25rem;

    &--list-filter {
        display: grid;
        align-items: start;
        grid-template-columns: 1fr;
        gap: 1.25rem;

        @media only screen and (min-width: 48rem) {
            grid-template-columns: 20rem 1fr;
        }
    }

    &--padding-inline {
        padding-inline: 1.25rem;
    }
}