// Variables
@use './variables/root';

// Ui
@use './ui/button-close';
@use './ui/button-tab';
@use './ui/focus';

// layouts
@use './global/main';

// Components
@use './components/filter';
@use './components/footer';
@use './components/header';
@use './components/product-detail';
@use './components/products-card';
@use './components/products-list';
@use './components/products-similar-list';

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    min-width: 20rem;
    min-height: 100vh;
    overflow: hidden;
    overflow-y: visible;

    &.no-scroll {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}

body {
    margin: 0;
}